.app__window--large {
  display: flex;
  flex-direction: column;
  background-color: rgba(23, 196, 230, 0.3);
  height: 31rem;
  width: 45rem;
  border-left: 1rem solid rgba(23, 196, 230, 0.7);
  border-right: 1rem solid rgba(23, 196, 230, 0.7);
  visibility: visible;
}

.app__window--medium {
  display: flex;
  flex-direction: column;
  background-color: rgba(23, 196, 230, 0.3);
  height: 22rem;
  width: 35rem;
  border-left: 1rem solid rgba(23, 196, 230, 0.7);
  border-right: 1 solid rgba(23, 196, 230, 0.7);
  visibility: visible;
}

.app__window--small {
  display: flex;
  flex-direction: column;
  background-color: rgba(23, 196, 230, 0.3);
  height: 17rem;
  width: 25rem;
  border-left: 1 solid rgba(23, 196, 230, 0.7);
  border-right: 1rem solid rgba(23, 196, 230, 0.7);
  visibility: visible;
}

.app__header {
  display: flex;
  justify-content: space-between;
  height: 1.8rem;
  margin-left: 6px;
  margin-right: 6px;
  padding-bottom: 3px;
  border-bottom: 2px solid rgba(23, 196, 230, 0.7);
}

.app__header--left,
.app__header--right {
  display: flex;
  align-items: flex-end;
}

.app__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.app__content {
  padding: 0.5rem;
  height: 100%;
}

.feature__search-filtered {
  display: flex;
  justify-content: flex-end;
}

.filter_option {
  width: 2rem;
  height: 2rem;
  margin-right: 0.2rem;
}
.filter_option:hover {
  background: rgba(23, 196, 230, 0.3);
  cursor: pointer;
}

.search_input {
  -webkit-appearance: none;
  font-family: inherit;
  background: rgba(137, 173, 175, 0.8);
  width: 11rem;
  height: 1.8rem;
  color: white;
  border: none;
  text-align: left;
  padding-left: 1rem;
}
.search_input::placeholder {
  color: black;
  font-size: 12pt;
}

.app__tabs {
  display: flex;
  justify-content: flex-start;
  height: 2rem;
  align-items: center;
}

.app-iframe {
  margin-top: 0.5rem;
  margin-bottom: 0.7rem;
  border: none;
  opacity: 0.8;
  height: 22rem;
  width: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__list {
  width: 42rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app__active-ip {
  position: relative;
  top: -2px;
  margin-left: 0.4rem;
  background: rgba(255, 255, 255, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.473);
  font-size: 10pt;
  width: 6rem;
  text-align: center;
  color: #e7e7e7;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  display: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(9, 164, 175, 0.918);
}

::-webkit-scrollbar-track:hover {
  background: rgba(4, 116, 124, 0.918);
  display: initial;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #faaa15;
  cursor: context-menu;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a06801;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background: #774e02;
  cursor: pointer;
}

.screen--boot {
  font-family: "IBM Plex Mono", monospace;
  color: rgba(255, 255, 255, 0.733);
  line-height: 20px;
  font-size: 10pt;
  font-weight: 100;
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: left;
  align-items: flex-end;
  -webkit-appearance: none;
}

#typedtext {
  opacity: 1;
  padding-left: 3.5rem;
  padding-bottom: 3rem;
}

.bottom-menu__section {
  padding-top: 2.5rem;
  justify-self: center;
  margin: 10px;
  width: 36rem;
  height: 4rem;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] auto [column-2-end column-3-start] 1rem [column-3-end];
  grid-template-rows: 100%;
  z-index: 2;
}

.bottom-menu__left-border {
  background: rgba(23, 196, 230, 0.5);
  grid-row: 1/2;
  grid-column: 1/2;
}

.bottom-menu__content {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-left: 1rem solid rgba(23, 196, 230, 0.5);
  border-right: 1rem solid rgba(23, 196, 230, 0.5);
}
.bottom-menu__content span {
  padding-left: 1.5rem;
}

.bottom-menu__right-border {
  background: rgba(23, 196, 230, 0.5);
  grid-row: 1/2;
  grid-column: 3/4;
}

.terminal-icon {
  opacity: 0.7;
  width: 3rem;
  height: 3rem;
  background: url("../public/images/bottom-menu/terminal-icon.png");
  background-repeat: no-repeat;
}
.terminal-icon:hover {
  opacity: 0.9;
  cursor: pointer;
}

.app__top-bar__button--close {
  background: none;
  color: orange;
  font-weight: bold;
  border: none;
  font-size: 12pt;
}
.app__top-bar__button--close:hover {
  background: rgba(23, 196, 230, 0.3);
}

.app__top-bar__button--minimize {
  background: none;
  color: rgba(23, 196, 230, 0.7);
  font-weight: bold;
  border: none;
  font-size: 12pt;
}
.app__top-bar__button--minimize:hover {
  background: rgba(23, 196, 230, 0.3);
}

.form-button {
  color: rgba(255, 255, 255, 0.781);
  font-weight: bold;
  margin: 0.2rem;
  padding: 0.2rem;
  width: 5rem;
  height: 2rem;
  border: none;
  background: rgba(23, 196, 230, 0.3);
}
.form-button:hover {
  background: rgba(23, 196, 230, 0.7);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.507);
  cursor: pointer;
}
.form-button:active {
  background: rgba(23, 196, 230, 0.5);
}

.app-bottom-button {
  margin-left: 1rem;
  color: orange;
}

.conky__section {
  margin-right: 0.5rem;
  width: 16rem;
  height: 30rem;
  align-self: center;
  background: rgba(23, 196, 230, 0.3);
  display: grid;
  justify-self: end;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  z-index: 2;
  border-top: 1rem solid rgba(23, 196, 230, 0.5);
  border-bottom: 1rem solid rgba(23, 196, 230, 0.5);
}

.conky__content {
  grid-row: 1/2;
  grid-column: 1/2;
}

.conky-menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.conky__item {
  padding: 1rem, 1rem;
  margin: 0.3rem;
  width: 90%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 1.5em 1.5em;
  color: rgba(255, 255, 255, 0.4);
}
.conky__item h1 {
  margin: 10px;
  color: rgba(255, 166, 0, 0.8);
  font-size: 15pt;
  font-weight: bold;
  letter-spacing: 1px;
}
.conky__item td {
  font-size: 10pt;
  font-weight: bold;
  padding: 0 20px 0 20px;
}
.conky__item h3 {
  font-size: 10pt;
  color: white;
  margin-left: 10px;
}
.conky__item tr.first {
  color: rgba(255, 255, 255, 0.8);
}
.conky__item tr.second {
  color: rgba(255, 255, 255, 0.6);
}
.conky__item tr.third {
  color: rgba(255, 255, 255, 0.4);
}

.conky-menu__memory {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(23, 196, 230, 0.7);
}
.conky-menu__memory p {
  color: rgba(23, 196, 230, 0.1);
  margin-left: 9.5rem;
  z-index: 10;
  position: relative;
}

.conky-menu__memory__table {
  display: flex;
  justify-content: center;
}

.conky-menu__memory__graph {
  height: 4.5rem;
}
.conky-menu__memory__graph p {
  color: white;
}

.conky-bottom-border {
  background: rgba(23, 196, 230, 0.5);
  grid-row: 3/4;
  grid-column: 1/2;
}

.conky-memory-graph {
  width: 5rem;
  height: 5rem;
  background: url("../public/images/conky-sidebar/graph.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  position: relative;
  right: -8rem;
  bottom: 3.8rem;
}

.screen--main {
  font-family: "IBM Plex Mono", monospace;
  height: 100vh;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 42rem [row-2-end row-3-start] 8rem [row-3-end];
  grid-template-areas: "left-bar header__section header__section right-bar" ". . . conky" ". bottom-menu bottom-menu .";
}

.left-panel-section {
  grid-area: left-bar;
  z-index: 2;
}

.header__section {
  grid-area: header__section;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.right-panel-section {
  grid-area: right-bar;
  z-index: 2;
}

.bottom-menu__section {
  grid-area: bottom-menu;
}

.conky__section {
  grid-area: conky;
}

.gateway__dropdown-list {
  background-color: rgba(23, 196, 230, 0.7);
  position: absolute;
  top: 7rem;
  left: 29.5%;
  width: 9rem;
  height: 6rem;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  color: #9e9e9e;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.gateway__dropdown-list__content {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.gateway__dropdown-list__item {
  background-color: rgba(48, 48, 48, 0.781);
  width: 98%;
  margin: 0.1rem;
  z-index: 2;
}
.gateway__dropdown-list__item p {
  height: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  margin: 0;
  text-align: center;
}
.gateway__dropdown-list__item:hover {
  background-color: rgba(71, 71, 71, 0.578);
  cursor: pointer;
}
.gateway__dropdown-list__item:hover p {
  color: orange;
}

.server-ip--hover {
  width: 6rem;
  height: 1rem;
  top: 5rem;
  left: 69%;
  background-color: rgba(83, 82, 82, 0.553);
  position: absolute;
  visibility: hidden;
  z-index: 2;
  border: 4px solid rgba(128, 128, 128, 0.253);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}
.server-ip--hover p {
  padding: 0;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.733);
}

.bouncing--hover {
  width: 6rem;
  height: 1rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 1rem;
  background-color: rgba(83, 82, 82, 0.553);
  visibility: hidden;
  z-index: 1;
  border: 4px solid rgba(128, 128, 128, 0.253);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
  z-index: 2;
}
.bouncing--hover p {
  padding: 0;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.733);
}

.gateway-ip--hover {
  width: 6rem;
  height: 1rem;
  top: 5rem;
  left: 25%;
  background-color: rgba(83, 82, 82, 0.553);
  position: absolute;
  visibility: hidden;
  z-index: 3;
  border: 4px solid rgba(128, 128, 128, 0.253);
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}
.gateway-ip--hover p {
  padding: 0;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  text-align: center;
  color: rgba(255, 255, 255, 0.733);
}

.bouncing__dropdown-list {
  background-color: rgba(23, 196, 230, 0.7);
  position: absolute;
  top: 6rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 9rem;
  height: 7rem;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #9e9e9e;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.bouncing__dropdown-list__content {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bouncing__dropdown-list__item {
  background-color: rgba(48, 48, 48, 0.781);
  width: 98%;
  margin: 0.1rem;
}
.bouncing__dropdown-list__item p {
  height: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  margin: 0;
  text-align: center;
}
.bouncing__dropdown-list__item:hover {
  background-color: rgba(71, 71, 71, 0.578);
  cursor: pointer;
}
.bouncing__dropdown-list__item:hover p {
  color: orange;
}

#bouncing__create {
  background-color: rgba(133, 133, 133, 0.326);
  color: orange;
}

.bouncing__create-section {
  background-color: rgba(0, 0, 0, 0.471);
  position: absolute;
  top: 6rem;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 25rem;
  height: 15rem;
  visibility: hidden;
  border: 2px rgba(255, 255, 255, 0.438) solid;
}

.server-ip__dropdown-list {
  background-color: rgba(23, 196, 230, 0.7);
  position: absolute;
  top: 7rem;
  left: 62%;
  width: 9rem;
  height: 6rem;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  color: #9e9e9e;
  box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.32), 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
}

.server-ip__dropdown-list__content {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.server-ip__dropdown-list__item {
  background-color: rgba(48, 48, 48, 0.781);
  width: 98%;
  margin: 0.1rem;
  z-index: 2;
}
.server-ip__dropdown-list__item p {
  height: 1.2rem;
  font-weight: bold;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.795);
  font-size: 9.5pt;
  margin: 0;
  text-align: center;
}
.server-ip__dropdown-list__item:hover {
  background-color: rgba(71, 71, 71, 0.578);
  cursor: pointer;
}
.server-ip__dropdown-list__item:hover p {
  color: orange;
}

.ip-shortcuts-section {
  height: 20rem;
}

.ip-short-cut {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: -67%;
  width: 1rem;
  height: 2.5rem;
  background-color: rgba(23, 196, 230, 0.7);
  margin-bottom: 1rem;
  z-index: 2;
}
.ip-short-cut p {
  background-color: rgba(0, 0, 0, 0.221);
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  padding-left: 1rem;
  padding-right: 0.6rem;
  width: 5.5rem;
  text-align: center;
  font-size: 9.5pt;
  font-weight: bold;
  visibility: hidden;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: 1px 1px 3px #000000;
}
.ip-short-cut p:hover {
  color: orange;
}
.ip-short-cut:hover {
  width: 8rem;
  cursor: pointer;
  background-color: rgba(23, 196, 230, 0.5);
}
.ip-short-cut:hover p {
  visibility: visible;
}

.ip-shortcut-border {
  width: 1rem;
  height: 2.5rem;
  background-color: rgba(23, 196, 230, 0.7);
  z-index: 2;
}

#messenger {
  position: absolute;
  z-index: 10;
}

#messengerheader {
  cursor: move;
  z-index: 11;
}

#left-panel-clock {
  color: white;
  font-size: 9pt;
  margin: 0;
  margin-top: 4px;
}
#left-panel-clock:hover {
  cursor: pointer;
}

#logviewer {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 9;
}

#logviewerheader {
  cursor: move;
  z-index: 10;
}

#notifications {
  position: absolute;
  z-index: 9;
}

#notificationsheader {
  cursor: move;
  z-index: 10;
}

.progress-bar {
  width: 40rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.progress-bar__left {
  width: 33%;
  height: 0.5rem;
  opacity: 1;
  background-color: rgba(23, 196, 230, 0.7);
}

.progress-bar__center {
  width: 33%;
  height: 0.2rem;
  opacity: 0.35;
  background-color: rgba(23, 196, 230, 0.7);
}

.progress-bar__right {
  width: 33%;
  height: 0.2rem;
  opacity: 0.35;
  background-color: rgba(23, 196, 230, 0.7);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox-container label {
  color: white;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: rgba(23, 196, 230, 0.7);
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: rgba(137, 173, 175, 0.8);
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: rgba(3, 74, 88, 0.6);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid orange;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.dashboard-header {
  margin: 0.5rem;
  justify-self: center;
  width: 44rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  z-index: 2;
  background-color: rgba(23, 196, 230, 0.3);
  border-left: 1rem solid rgba(23, 196, 230, 0.5);
  border-right: 1rem solid rgba(23, 196, 230, 0.5);
}

.gateway__section {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.472), 0 0px 30px 5px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 2;
}
.gateway__section p {
  opacity: 0.8;
  font-weight: bold;
  text-shadow: 1px 2px black;
  margin: 0;
  padding: 0;
  color: orange;
  text-align: center;
  opacity: 1;
  font-size: 10pt;
}
.gateway__section p:hover {
  opacity: 1;
  cursor: pointer;
}
.gateway__section:hover {
  cursor: pointer;
}

.server__section {
  width: 6rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.472), 0 0px 0px 0px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
  z-index: 2;
}
.server__section p {
  font-size: 10pt;
  opacity: 0.8;
  font-weight: bold;
  text-shadow: 1px 2px black;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
}
.server__section p:hover {
  opacity: 1;
  cursor: pointer;
}
.server__section:hover {
  cursor: pointer;
}

.header__gateway {
  background: url("../public/images/header/header-center/pc-icon.png");
  background-repeat: no-repeat;
  opacity: 0.7;
  background-size: 100%;
  width: 4rem;
  height: 4rem;
}
.header__gateway:hover {
  opacity: 1;
  cursor: pointer;
}

.header__connection--left {
  background: url("../public/images/header/header-center/connection.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13rem;
  height: 1.3rem;
}

.header__bouncing {
  background: url("../public/images/header/header-center/bouncing-icon.png");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2.5rem;
  height: 2.5rem;
}

.header__connection--right {
  background: url("../public/images/header/header-center/connection.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 13rem;
  height: 1.3rem;
  transform: rotate(180deg);
  margin-top: 0.85rem;
}

.header__server {
  background: url("../public/images/header/header-center/pc-icon.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 4rem;
  height: 4rem;
}
.header__server:hover {
  cursor: pointer;
}

.header__connection--left:hover,
.header__bouncing:hover,
.header__connection--right:hover,
.header__server:hover,
.header__gateway:hover {
  opacity: 0.7;
  cursor: pointer;
}

.form-txt-input {
  background: rgba(255, 255, 255, 0.267);
  padding: 0.5rem;
  margin: 0.5rem;
  border: none;
  width: 12rem;
  text-align: center;
  color: #cfcfcf;
  -webkit-appearance: none;
  font-family: inherit;
  font-style: bold;
}
.form-txt-input::placeholder {
  text-align: center;
  color: black;
}
.form-txt-input:hover {
  background: rgba(187, 187, 187, 0.267);
}

.left-panel-section {
  color: white;
  margin: 0.5rem;
  grid-area: left-bar;
  display: grid;
  width: 13rem;
  height: 3.5rem;
  grid-template-columns: [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1fr [column-3-end];
  grid-template-rows: 100%;
  justify-self: left;
}

.left-panel__first_half {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end];
  grid-template-rows: 100%;
  border-left: 1rem solid rgba(23, 196, 230, 0.5);
}

.left-panel__first_half_left {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel__first_half_right {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1.15rem;
}

.left-panel__first_half_right_top {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
}

.left-panel__first_half_right_bottom {
  background: linear-gradient(-51deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.3) 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.left-panel__second_half {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end];
  grid-template-rows: 100%;
}

.left-panel__second_half_left {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1.05rem [column-2-end];
}

.left-panel__second_half_left_top {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-panel__second_half_left_top #left-panel-clock {
  background: rgba(23, 196, 230, 0.5);
  padding-top: 2px;
  width: 4rem;
  height: 1.2rem;
  align-self: center;
  border-radius: 3px;
  margin: 2px;
  font-size: 9pt;
  font-weight: bold;
}

.left-panel__second_half_left_bottom {
  grid-row: 2/3;
  grid-column: 1/2;
}

.left-panel__second_half_right {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1.05rem [column-2-end column-3-start] 1.05rem [column-3-end];
}

.left-panel__second_half_right:hover {
  cursor: pointer;
}

.left-panel__second_half_right_row_1 {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
}

.left-panel__second_half_right_row_2 {
  background: linear-gradient(-45deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.3) 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.HE-icon {
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 3em;
  height: 3em;
}

.loader {
  display: none;
  margin: 0.2rem auto;
  font-size: 10px;
  position: relative;
  border-top: 0.5em solid rgba(255, 255, 255, 0.2);
  border-right: 0.5em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.5em solid rgba(255, 255, 255, 0.2);
  border-left: 0.5em solid rgba(96, 250, 255, 0.993);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
body {
  font-family: "IBM Plex Mono", monospace;
  min-width: unset !important;
  max-width: 50rem;
  margin: 0;
  background: rgba(2, 52, 56, 0.918);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10pt;
}

.logviewer__item {
  margin-top: 0.5rem;
  padding-top: 0.2rem;
  background: rgba(0, 0, 0, 0.363);
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid rgba(9, 164, 175, 0.918) 0.15rem;
}

.logviewer-timestamp {
  opacity: 0.5;
  height: 1rem;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  font-size: 8pt;
}

.logviewer-message_content {
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logviewer-message {
  width: 90%;
  display: flex;
  padding-left: 0.3rem;
}

.logviewer-message p {
  padding-left: 0.2rem;
}

.ip-source {
  color: rgba(9, 164, 175, 0.918);
  font-weight: bold;
}

.endpoint {
  font-weight: bold;
  color: orange;
}

.extend-button {
  width: 10%;
  text-align: center;
}

.screen--login {
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 1fr [row-2-end row-3-start] 8rem [row-3-end];
  grid-template-areas: "left-bar .  . right-bar" ". login login ." ". . . .";
}

.left-panel-section {
  grid-area: left-bar;
}

.right-panel-section {
  grid-area: right-bar;
}

.login-section {
  grid-area: login;
  align-self: center;
  justify-self: center;
}

#login-window {
  color: rgba(155, 243, 255, 0.781);
  font-size: 11pt;
  background: rgba(23, 196, 230, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#login-window up p {
  padding: 0.5rem;
  margin: 0.5rem;
}

.settings-icon {
  width: 2rem;
  height: 2rem;
}

#map {
  position: relative;
  height: 100vh;
  width: 100vw;
  top: -17%;
  z-index: 1;
  color: rgba(96, 250, 255, 0.993) !important;
}
#map .leaflet-left .leaflet-control {
  margin-top: 55rem !important;
  margin-left: 1rem !important;
}
#map .leaflet-container {
  color: rgba(96, 250, 255, 0.993);
}

.notification__dropdown-list {
  position: absolute;
  z-index: 10;
  height: 13rem;
  width: 15rem;
  right: 9rem;
  top: 1.7rem;
  visibility: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification__top-border {
  background: rgba(23, 196, 230, 0.7);
  width: 100%;
  height: 0.7rem;
}

.notification__content {
  background: rgba(23, 196, 230, 0.5);
  width: 100%;
  height: 11.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notification__content__header {
  background-color: rgba(59, 59, 59, 0.7);
  height: 0.8rem;
  width: 98%;
  color: orange;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.notification__label {
  font-size: 6.5pt;
  z-index: 50;
  margin: 0;
  margin-left: 0.5rem;
}

.notification__toggle {
  font-size: 4pt;
  margin-right: 3rem;
  color: white;
  font-size: 6.5pt;
}

.notification__content__gap {
  background-color: rgba(59, 59, 59, 0.5);
  height: 1.2rem;
  width: 98%;
  margin: 0;
  color: white;
  font-size: 8pt;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.notification__content__gap p {
  margin-left: 0.5rem;
}

.notification__content__list {
  background-color: rgba(58, 58, 58, 0.512);
  width: 98%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: center;
}

.notification {
  background-color: rgba(31, 30, 30, 0.4);
  width: 100%;
  height: 1.9rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: #a8a8a8;
  font-size: 8pt;
}
.notification:hover {
  background-color: rgba(83, 83, 83, 0.4);
  cursor: pointer;
}
.notification p,
.notification span {
  margin-left: 0.5rem;
}

.notification__bottom-border {
  background: rgba(23, 196, 230, 0.7);
  width: 100%;
  height: 0.7rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: orange;
  text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.795);
  font-size: 8pt;
}

.right-panel-section {
  margin: 0.5rem;
  grid-area: right-bar;
  display: grid;
  width: 13rem;
  height: 3.5rem;
  grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1fr [column-2-end column-3-start];
  grid-template-rows: 100%;
  justify-self: right;
}

.right-panel__first_half {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
  grid-template-rows: 100%;
}

.right-panel__first_half_left {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end column-3-start] 0.95rem [column-3-end];
}

.right-panel__first_half_left_row_1 {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
}

.right-panel__first_half_left_row_2 {
  background: linear-gradient(45deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.3) 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.right-panel__first_half_left_row_3 {
  grid-row: 3/4;
  grid-column: 1/2;
}

.right-panel__first_half_right {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 2/3;
  height: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-panel__second_half {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
  grid-template-rows: 100%;
}

.right-panel__second_half_left {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1.15rem;
}

.right-panel__second_half_left_top {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 1/2;
}

.right-panel__second_half_left_bottom {
  background: linear-gradient(51deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.3) 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.right-panel__second_half_right {
  background: rgba(23, 196, 230, 0.3);
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.479);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-right: 1rem solid rgba(23, 196, 230, 0.5);
}

.right-panel__second_half_right p {
  color: white;
  font-size: 11pt;
}

.right-panel__second_half_right:hover {
  cursor: pointer;
}

.notifications-content {
  display: flex;
  flex-direction: row;
}

.notification-user {
  background: url("../public/images/header/right-toolbar/notification-user.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.notification-message {
  background: url("../public/images/header/right-toolbar/notification-message.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.5rem;
  height: 1.5rem;
}

.notification__toggle--main {
  background: url("../public/images/header/right-toolbar/notification-main.png");
  opacity: 0.7;
  background-repeat: no-repeat;
  background-size: 90%;
  width: 1.5rem;
  height: 1.5rem;
}

.notification__toggle--main:hover,
.notification-message:hover,
.notification-user:hover {
  opacity: 1;
  cursor: pointer;
}

.user-profile-icon {
  background: url("../public/images/header/right-toolbar/user-profile-icon.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 1.3rem;
  height: 1.3rem;
}

.screen--setup {
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 1fr [row-2-end row-3-start] 8rem [row-3-end];
  grid-template-areas: "left-bar .  . right-bar" ". setup setup ." ". . . .";
}
.screen--setup label {
  letter-spacing: 1px;
}

.left-panel-section {
  grid-area: left-bar;
}

.right-panel-section {
  grid-area: right-bar;
}

.setup-section {
  grid-area: setup;
  align-self: center;
  justify-self: center;
  width: 40rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.back-button {
  visibility: hidden;
}

.content {
  color: rgba(155, 243, 255, 0.781);
  font-size: 11pt;
  background: rgba(23, 196, 230, 0.1);
  grid-area: setup-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.content p {
  padding: 0.5rem;
  margin: 0.5rem;
}
.content .title {
  margin-left: 0;
  width: 100%;
  height: 20%;
  text-align: left;
  color: rgba(96, 250, 255, 0.993);
}
.content .title p {
  font-weight: bold;
  font-size: 13pt;
  opacity: 0.5;
  padding: 0;
  margin: 0;
}
.content button {
  color: rgba(255, 255, 255, 0.781);
  font-weight: bold;
  margin-top: 1rem;
  padding: 0.2rem;
  width: 5rem;
  height: 2rem;
  border: none;
  background: rgba(23, 196, 230, 0.3);
}
.content button:hover {
  background: rgba(23, 196, 230, 0.7);
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.507);
  cursor: pointer;
}
.content button:active {
  background: rgba(23, 196, 230, 0.5);
}

.header {
  width: 100%;
}
.header label {
  font-weight: lighter;
  font-size: 18pt;
}

.options {
  width: 100%;
  height: 70%;
}
.options p {
  font-size: 15pt;
}

.option {
  color: #a8a8a8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

.setup-checkboxes {
  margin-top: 3rem;
  width: 100%;
  height: 80%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: space-between;
}

.step_one {
  visibility: visible;
  display: inherit;
}

.step_two {
  visibility: hidden;
  display: none;
}

.step_three {
  visibility: hidden;
  display: none;
}

.bottom-buttons {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.app__title {
  position: relative;
  top: -2px;
  color: rgba(96, 250, 255, 0.993);
  padding: 0;
  padding-left: 0.2rem;
  margin: 0;
  font-size: 11pt;
}

.app__tab-title {
  color: rgba(23, 196, 230, 0.7);
  font-weight: bold;
  opacity: 0.8;
  margin-right: 15px;
  margin-top: 1px;
  margin-bottom: 1px;
  padding-bottom: 4px;
  letter-spacing: -1.5px;
  font-size: 12pt;
}
.app__tab-title:hover {
  color: rgba(96, 250, 255, 0.993);
  cursor: pointer;
}
.app__tab-title:active {
  border-bottom: 3px solid rgba(23, 196, 230, 0.7);
}

body {
  font-family: "IBM Plex Mono", monospace;
  margin: 0;
  min-width: 85rem;
  max-width: 120rem;
  background: black;
}

/*# sourceMappingURL=style.css.map */
