$font-stack: 'Signika', sans-serif;
$bg-default-0-1: rgba(23, 196, 230, 0.1);
$bg-default-0-2: rgba(23, 196, 230, 0.2);
$bg-default-0-4: rgba(23, 196, 230, 0.4);
$bg-default-0-6: rgba(23, 196, 230, 0.6);
$bg-default-0-8: rgba(96, 250, 255, 0.993);

$default-input-color: rgba(137, 173, 175, 0.8);

$text-color-white-0-1: rgba(255, 255, 255, 0.1);
$text-color-white-0-4: rgba(255, 255, 255, 0.4);
$text-color-white-0-6: rgba(255, 255, 255, 0.6);
$text-color-white-0-8: rgba(255, 255, 255, 0.8);
$default-opacity: 0.4;