@import "../_variables.scss";

.boot-screen {
  color: white;
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  label {
    letter-spacing: 1px;
  }
}