@import "../_variables.scss";

.login-screen {
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 1fr [row-2-end row-3-start] 8rem [row-3-end];
  grid-template-areas: "left-bar .  . right-bar"
                       ". login login ."
                       ". . . .";
  label {
    letter-spacing: 1px;
  }
}

.left-panel-section {
  grid-area: left-bar;
}
  
.login-section {
  grid-area: login;
  align-self: center;
  justify-self: center;
  width: 30rem;
  height: 20rem;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1fr [column-3-end];
  grid-template-rows: 100%;
  grid-template-areas: "left-edge login-content right-edge";
}

.left-edge {
  grid-area: left-edge;
  background: $bg-default-0-6;
}

.content {
  color: rgba(155, 243, 255, 0.781);
  font-size: 11pt;
  background: $bg-default-0-1;
  width: 28rem;
  height: 20rem;
  grid-area: login-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  input {
    background: rgba(255, 255, 255, 0.267);;
    padding: 0.5rem;
    margin: 0.5rem;
    border: none;
    width: 12rem;
    text-align: center;
    color: rgb(207, 207, 207);
    font-weight: bold;
    &::placeholder {
      text-align: center;
      color:rgb(0, 0, 0);
    }
    &:hover {
      background: rgba(187, 187, 187, 0.267);;
    }
  }
  button {
    color: rgba(255, 255, 255, 0.781);
    font-weight: bold;
    margin-top: 1rem;
    padding: 0.2rem;
    width: 5rem;
    height: 2rem;
    border: none;
    background: $bg-default-0-2;
    &:hover {
      background: $bg-default-0-6;
      box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.507);
      cursor: pointer;
    }
    &:active {
      background: $bg-default-0-4;
    }
  }
}

.right-panel-section {
  grid-area: right-bar;
}

.right-edge {
  grid-area: right-edge;
  background: $bg-default-0-6;
}

.right-panel__second_half {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
  grid-template-rows: 100%;
}

.right-panel__second_half_left {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1.15rem;
}

.right-panel__second_half_left_top {
  background: rgba(23, 196, 230, 0.2);
  grid-row: 1/2;
  grid-column: 1/2;
}
.right-panel__second_half_left_top #left-panel-clock {
  width: 3rem;
  background: rgba(23, 196, 230, 0.4);
  border-radius: 3px;
  margin: 2px;
}

.right-panel__second_half_left_bottom {
  background: linear-gradient(51deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.2) 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.right-panel__second_half_right {
  background: rgba(23, 196, 230, 0.2);
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.479);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.right-panel__second_half_right p {
  color: white;
  font-size: 11pt;
}
.right-panel__second_half_right:hover {
  cursor: pointer;
}

.HE-icon {
  background: url('../public/images/header/left-toolbar/HE-icon.png');
}

.settings-icon {
  background: url('../public/images/login/setting-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
}