$font-stack: 'Signika', sans-serif;
$bg-default-0-1: rgba(23, 196, 230, 0.1);
$bg-default-0-2: rgba(23, 196, 230, 0.2);
$bg-default-0-4: rgba(23, 196, 230, 0.4);
$bg-default-0-6: rgba(23, 196, 230, 0.6);

$default-input-color: rgba(137, 173, 175, 0.8);

$text-color-white-0-1: rgba(255, 255, 255, 0.1);
$text-color-white-0-4: rgba(255, 255, 255, 0.4);
$text-color-white-0-6: rgba(255, 255, 255, 0.6);
$text-color-white-0-8: rgba(255, 255, 255, 0.8);
$default-opacity: 0.4;

body {
    margin: 0;
    min-width: 85rem;
    font-family: 'Signika', sans-serif;
    height: 100vh;
    background: black;
    background-image: url("../public/images/login-bg.png");
    background-repeat: no-repeat;
    color: black;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 1fr [row-2-end row-3-start] 8rem [row-3-end];
    grid-template-areas: "left-bar .  . right-bar"
                         ". login login ."
                         ". . . .";
}

.left-panel-section {
    margin: 10px;
    grid-area: left-bar;
    display: grid;
    width: 15rem;
    height: 3.5rem;
    grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1fr [column-3-end];
    grid-template-rows: 100%;
    justify-self: left;
  }
  
  .left-panel__left-border {
    background: rgba(23, 196, 230, 0.4);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .left-panel__first_half {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end];
    grid-template-rows: 100%;
  }
  
  .left-panel__first_half_left {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .left-panel__first_half_right {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1.15rem;
  }
  
  .left-panel__first_half_right_top {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .left-panel__first_half_right_bottom {
    background: linear-gradient(-51deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.2) 0%);
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .left-panel__second_half {
    grid-row: 1/2;
    grid-column: 3/4;
    display: grid;
    grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end];
    grid-template-rows: 100%;
  }
  
  .left-panel__second_half_left {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1.05rem [column-2-end];
  }
  
  .left-panel__second_half_left_top {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .left-panel__second_half_left_top #left-panel-clock {
    background: rgba(23, 196, 230, 0.4);
    padding-top: 2px;
    width: 4rem;
    height: 1.2rem;
    align-self: center;
    border-radius: 3px;
    margin: 2px;
    font-size: 11pt;
  }
  
  .left-panel__second_half_left_bottom {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .left-panel__second_half_right {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1.05rem [column-2-end column-3-start] 1.05rem [column-3-end];
  }
  .left-panel__second_half_right:hover {
    cursor: pointer;
  }
  
  .left-panel__second_half_right_row_1 {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .left-panel__second_half_right_row_2 {
    background: linear-gradient(-45deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.2) 0%);
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .left-panel__second_half_right_row_3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }


.login-section {
    grid-area: login;
    align-self: center;
    justify-self: center;
    width: 30rem;
    height: 20rem;
    display: grid;
    grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1fr [column-3-end];
    grid-template-rows: 100%;
    grid-template-areas: "left-edge login-content right-edge";
}

.left-edge {
    grid-area: left-edge;
    background: $bg-default-0-6;
}

.content {
    color: white;
    background: $bg-default-0-2;
    width: 28rem;
    height: 20rem;
    grid-area: login-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-edge {
    grid-area: right-edge;
    background: $bg-default-0-6;
}

.right-panel-section {
    margin: 10px;
    grid-area: right-bar;
    display: grid;
    width: 15rem;
    height: 3.5rem;
    grid-template-columns: [column-1-start] 1fr [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1rem [column-3-end];
    grid-template-rows: 100%;
    justify-self: right;
  }
  
  .right-panel__first_half {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
    grid-template-rows: 100%;
  }
  
  .right-panel__first_half_left {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: [column-1-start] 1fr [column-1-end column-2-start] 1rem [column-2-end column-3-start] 0.95rem [column-3-end];
  }
  
  .right-panel__first_half_left_row_1 {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  
  .right-panel__first_half_left_row_2 {
    background: linear-gradient(45deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.2) 0%);
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .right-panel__first_half_left_row_3 {
    grid-row: 3/4;
    grid-column: 1/2;
  }
  
  .right-panel__first_half_right {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 2/3;
    height: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .right-panel__second_half {
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
    grid-template-rows: 100%;
  }
  
  .right-panel__second_half_left {
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 1.15rem;
  }
  
  .right-panel__second_half_left_top {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .right-panel__second_half_left_top #left-panel-clock {
    width: 3rem;
    background: rgba(23, 196, 230, 0.4);
    border-radius: 3px;
    margin: 2px;
  }
  
  .right-panel__second_half_left_bottom {
    background: linear-gradient(51deg, rgba(255, 0, 0, 0) 40%, rgba(23, 196, 230, 0.2) 0%);
    grid-row: 2/3;
    grid-column: 1/2;
  }
  
  .right-panel__second_half_right {
    background: rgba(23, 196, 230, 0.2);
    grid-row: 1/2;
    grid-column: 2/3;
    font-size: 7pt;
    color: rgba(255, 255, 255, 0.479);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .right-panel__second_half_right p {
    color: white;
    font-size: 11pt;
  }
  .right-panel__second_half_right:hover {
    cursor: pointer;
  }
  
  .right-panel__right-border {
    background: rgba(23, 196, 230, 0.4);
    grid-row: 1/2;
    grid-column: 3/4;
  }