@import "../../_variables.scss";

.screen--boot {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  height: 100vh;

  background-repeat: no-repeat;
  background-image: url("../public/images/login-bg.png");
  color: rgba(255, 255, 255, 0.733);
  font-family: $font-stack;
  font-size:   10pt;
  font-weight:  100;
  line-height: 20px;
  -webkit-appearance: none;
}

#typedtext {
  opacity: 1;
  padding-left: 3.5rem;
  padding-bottom: 3rem;
}