@import "../_variables.scss";

.setup-screen {
  height: 100vh;
  background-image: url("../public/images/login-bg.png");
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  grid-template-rows: [row-1-start] 10rem [row-1-end row-2-start] 1fr [row-2-end row-3-start] 8rem [row-3-end];
  grid-template-areas: "left-bar .  . right-bar"
                       ". setup setup ."
                       ". . . .";
  label {
    letter-spacing: 1px;
  }
}

.left-panel-section {
	grid-area: left-bar;
}

.right-panel-section {
  grid-area: right-bar;
}

.main-container {
  width: 40rem;
  height: 31rem;
  align-self: center;
  justify-self: center;
  display: flex;
  flex-direction: column;
  grid-area: setup;
  justify-content: center;
  align-items: center;
}

.setup-section {
	grid-area: setup;
	align-self: center;
	justify-self: center;
	width: 40rem;
	height: 28rem;
	display: grid;
	grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end column-3-start] 1rem [column-3-end];
	grid-template-rows: 100%;
	grid-template-areas: "left-edge setup-content right-edge";
}

.back-button {
  visibility: hidden;
}

.progress-bar {
  width: 80%;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.progress-bar__left {
  width: 33%;
  height: 0.5rem;
  opacity: 1;
  background-color: $bg-default-0-6;
}

.progress-bar__center {
  width: 33%;
  height: 0.2rem;
  opacity: 0.35;
  background-color: $bg-default-0-6;
}

.progress-bar__right {
  width: 33%;
  height: 0.2rem;
  opacity: 0.35;
  background-color: $bg-default-0-6;
}

.right-edge {
  grid-area: right-edge;
  background: $bg-default-0-6;
}

.content {
  color: rgba(155, 243, 255, 0.781);
  font-size: 11pt;
  background: $bg-default-0-1;
  grid-area: setup-content;
  display:flex;
  flex-direction: column;
  justify-content: center;
	align-items: center;
	padding: 1rem;

  p {
    padding: 0.5rem;
    margin: 0.5rem;
  }

  .title {
    margin-left: 0;
    width: 100%;
    height: 20%;
    text-align: left;
    color: $bg-default-0-8;
    p {
      opacity: 0.5;
      padding: 0;
      margin: 0;
    }
  }
  // input {
  //   background: rgba(255, 255, 255, 0.267);;
  //   padding: 0.5rem;
  //   margin: 0.5rem;
  //   border: none;
  //   width: 4rem;
  //   text-align: center;
  //   color: rgb(207, 207, 207);
  //   font-weight: bold;
  //   &::placeholder {
	// 		text-align: center;
	// 		color:rgb(207, 207, 207);
  // 	}
  //}
  button {
    color: rgba(255, 255, 255, 0.781);
    font-weight: bold;
		margin-top: 1rem;
    padding: 0.2rem;
    width: 5rem;
    height: 2rem;
    border: none;
    background: $bg-default-0-2;
    &:hover {
      background: $bg-default-0-6;
      box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.507);
      cursor: pointer;
    }
    &:active {
      background: $bg-default-0-4;
    }
  }
}

.header {
	width: 100%;
  height: 10%;
  label {
    margin-left: 0.2rem;
    font-size: 15pt;
    font-weight: bold;
  }
}

.options {
	width: 100%;
	height: 75%;
	p {
		font-size: 15pt;
	}
}

.option {
	color: rgb(168, 168, 168);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin: 2rem;
}

.checkboxes {
	margin-top: 3rem;
	width: 100%;
  height: 80%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: space-between;
	// input[type=checkbox] {
	// 	margin: 1rem;
  //   float: left;
  //   background-color: $bg-default-0-4 !important;
  //   border: none;
	// }
	// label {
	// 	margin: 1rem;
	// 	float: left;
	// }
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12pt;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: $bg-default-0-6;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $default-input-color;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $bg-default-selected;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid orange;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.step_one {
	visibility: visible;
	display: inherit;
}

.step_two {
	visibility: hidden;
	display: none;
}

.step_three {
	visibility: hidden;
	display: none;
}

.bottom-buttons {
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
}

.right-panel__second_half {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: [column-1-start] 1rem [column-1-end column-2-start] 1fr [column-2-end];
  grid-template-rows: 100%;
}

.right-panel__second_half_left {
  grid-row: 1/2;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1.15rem;
}

.right-panel__second_half_left_top {
  background: $bg-default-0-2;
  grid-row: 1/2;
  grid-column: 1/2;
}
.right-panel__second_half_left_top #left-panel-clock {
  width: 3rem;
  background: $bg-default-0-4;
  border-radius: 3px;
  margin: 2px;
}

.right-panel__second_half_left_bottom {
  background: linear-gradient(51deg, rgba(255, 0, 0, 0) 40%, $bg-default-0-2 0%);
  grid-row: 2/3;
  grid-column: 1/2;
}

.right-panel__second_half_right {
  background: $bg-default-0-2;
  grid-row: 1/2;
  grid-column: 2/3;
  font-size: 7pt;
  color: rgba(255, 255, 255, 0.479);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.right-panel__second_half_right p {
  color: white;
  font-size: 11pt;
}
.right-panel__second_half_right:hover {
  cursor: pointer;
}

.left-edge {
  grid-area: left-edge;
  background: $bg-default-0-6;
}

.HE-icon {
  background: url('../public/images/header/left-toolbar/HE-icon.png');
}

.settings-icon {
  background: url('../public/images/login/setting-icon.png');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 2rem;
  height: 2rem;
}
